@model WebApplication1.Models.Sale

@{
    ViewBag.Title = "Add";
}

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <br /><br /><br />
        <div class="panel-group">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="panel-title">
                        Sale Header
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(c => c.CustomerId, "Customer *", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-8">
                            @Html.DropDownListFor(c => c.CustomerId, Model.CustomerLookup, null, new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(c => c.DateTime, "Date *", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(c => c.DateTime, null, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Loyality Point</label>
                        <div class="col-sm-8" >
                            <input type="text" class="form-control" id="loyalityPoint" readonly="readonly">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="panel-title">
                        Customer Details
                    </div>
                </div>
                <div class="panel-body">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Product</label>
                        <div class="col-sm-8">
                            @Html.DropDownList("ItemName", Model.ProductLookup, new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Available Quantity</label>
                        <div class="col-sm-8" >
                            <input type="text" class="form-control" id="avQuantity" readonly="readonly">
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("ItemPrice", "Item Price *", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-8">
                            @Html.TextBox("ItemPrice", null, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("ItemQty", "Item Quantity *", new { @class = "control-label col-sm-2" })
                        <div class="col-sm-8">
                            @Html.TextBox("ItemQty", null, new { @class = "form-control", @required = "required" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8">
                            <button type="button" class="btn btn-info" id="AddButton">Add</button>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="panel-group">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="panel-title">Added Sale Details Items</div>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover table-striped table-responsive" id="table">

                        <thead>
                            <tr style="background-color: goldenrod; color: white; font-weight: bold">
                                <td>Sl</td>
                                <td>Product</td>
                                <td>Quantity</td>
                                <td>Unit Price</td>
                                <td>Total Price</td>
                                <td>Action</td>
                            </tr>
                        </thead>
                        <tbody id="SaleDetailsTable">
                            @*@if (Model!=null && Model.SaleDetailses != null && Model.SaleDetailses.Count > 0)
                            {
                                 var sl = 0; 
                                foreach (var item in Model.SaleDetailses)
                                {

                                    <tr>
                                        <td>@(++sl)</td>
                                        <td>@item.ProductId</td>
                                        <td>@item.Quantity</td>
                                        <td>@item.UnitPrice</td>
                                        
                                    </tr>
                                }


                            }*@
                        </tbody>

                    </table>
                </div>
            </div>
        </div>


    </div>

    <div class="panel-group">
        <div class="panel-body">
            <div class="col-6 ">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Grand Total</label>
                    <div class="col-sm-4">
                        <input type="text" name="GrandTotalValue" class="form-control" id="grandTotalValue" value="">
                    </div>
                </div>

            </div>

            <div class="col-6 text-right">
                <div >
                    <input type="submit" class="btn btn-success" value="Save" />
                </div>
            </div>
        </div>
    </div>
}



@section scripts{

    <script src="~/Scripts/ProjectScripts/Sale/SaleCreate.js"></script>
}


