@model WebApplication1.Models.UserAccount

@{
    ViewBag.Title = "Register";
}
    <div class="text-info">
        <h2>Create New User Account</h2>
    </div>
<form id="AccountCreate" method="post">
    @Html.AntiForgeryToken()

    <div class="form-horizontal row">

        <h2>Create New User Account</h2>
        <hr />
        <div class="col-md-6">
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.FirstName, null, new { @class = "form-control", placeholder = "first name" })
                    @Html.ValidationMessageFor(model => model.FirstName, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.LastName, null, new { @class = "form-control", placeholder = "last name" })
                    @Html.ValidationMessageFor(model => model.LastName, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.Email, null, new { @class = "form-control", placeholder = "email" })
                    @Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.UserName, null, new { @class = "form-control", placeholder = "user name" })
                    @Html.ValidationMessageFor(model => model.UserName, null, new { @class = "text-danger" })
                    <span id="UserNameSpan" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "password" })
                    @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = "confirm password" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
</form>

<div>
    <h4>
        @Html.ActionLink("If you have existing account click here!", "Login")
    </h4>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/ProjectScripts/Account/AccountRegistration.js"></script>