@model WebApplication1.Models.Category

@using (Ajax.BeginForm("CreateCategory", "Product", null, new AjaxOptions()
{
    HttpMethod = "POST",
    OnSuccess = "CategorySaveSuccess",
    OnFailure = "CategorySaveFailure"
}))
{
    
        <h2>Create New Category</h2>
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Code, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Code)
                @Html.ValidationMessageFor(model => model.Code)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    

}

<script>
    $.validator.unobtrusive.parse(document)
</script>
