@model WebApplication1.Models.Product

@{
    ViewBag.Title = "Edit";
}

<h2>Update Product</h2>

<div>
    <h2 class="text-info">
        Update Product
    </h2>
</div>
<div>
    <form method="POST" id="ProductEdit" class="form-horizontal" enctype="multipart/form-data">
        @Html.HiddenFor(p => p.Id)
        <div class="form-group">
            <label class="col-sm-2 control-label">Code</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(p => p.Code, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(p => p.Name, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Category</label>
            <div class="col-sm-10">
                <select name="CategoryId" class="form-control" id="CategoryId"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Reorder Level</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(p => p.ReOrderLevel, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                @Html.TextAreaFor(p => p.Description, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Image</label>
            <div class="col-sm-10">
                <img src="" style="height:100px;width:200px;" class="img-responsive img-thumbnail pch-img" id="cntimage" alt="select image">
                <input type="file" name="UploadFile" required="required" onchange="readURL(this);">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Update</button>
            </div>
        </div>
    </form>

</div>

<div>
    <h3>
        @Html.ActionLink("Back to List", "Index")
    </h3>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/ProjectScripts/Product/editProduct.js"></script>
