@model IEnumerable<WebApplication1.Models.ViewModels.Stock.StockVm>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h1 class="text-info">Stock Details</h1>
</div>
<hr />
<form class="form-inline" method="post">
    <div class="form-group col-md-5">
        <label class="col-md-2">Category</label>
        <div class="col-md-4">
            <input type="text" class="form-control" name="category">
        </div>
    </div>
    <div class="form-group col-md-5">
        <label class="col-md-2">Product</label>
        <div class="col-md-4">
            <input type="text" class="form-control" name="product">
        </div>
    </div>
    <div class="form-group col-md-2">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
<br />
<hr />
<div>
    <table class="table table-striped table-bordered" id="myTable">
        <thead>
            <tr style="background-color: teal; color: white; font-weight: bold">
                <th>
                    @Html.DisplayNameFor(m => m.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReOrderLevel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExpireDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OpeningBalance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StockIn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StockOut)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClosingBalance)
                </th>



            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReOrderLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpireDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpeningBalance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockOut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClosingBalance)
                </td>


            </tr>

            }
        </tbody>
    </table>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });
    </script>
}