@model WebApplication1.Models.Supplier
@{
    ViewBag.Title = "Edit";
}

<h3>Update Supplier</h3>
<div>
    <h2 class="text-info">
        Update Supplier
    </h2>
</div>
<br />
<div>
    <form method="POST" id="SupplierEdit" class="form-horizontal" enctype="multipart/form-data">
        @Html.HiddenFor(s => s.Id)
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label class="col-sm-2 control-label">Code</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(s => s.Code, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(s => s.Name, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Address</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(s => s.Address, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(s => s.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Contact Number</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(s => s.ContactNumber, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Contact Person</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(s => s.ContactPerson, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Image</label>
            <div class="col-sm-10">
                <input type="file" name="UploadFile">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Update</button>
            </div>
        </div>
    </form>

</div>

<div>
    <h3>
        @Html.ActionLink("Back to List", "Index")
    </h3>
</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/ProjectScripts/Supplier/SupplierEdit.js"></script>