@model IEnumerable<WebApplication1.Models.Purchase>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    <h3 class="text-info">
        @Html.ActionLink("Create New", "Create")
    </h3>
</div>

<table class="table table-bordered">
    <tr style="background-color: goldenrod; color: white; font-weight: bold">
        <th>
            Serial No
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplier.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillNo)
        </th>

       
    </tr>
    @{ var sl = 0;}
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @(++sl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillNo)
            </td>
            
        </tr>
    }

</table>
