@model IEnumerable<WebApplication1.Models.Category>

@{
    ViewBag.Title = "Index";
}
<br />
<br />
<br />
<div style="font-family: Arial">
    <h2>Category Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
            using (Html.BeginForm("Delete", "Category", new { id = item.Id }))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |

                        <input type="submit" value="Delete" onclick="return confirm('Are you sure to delete record with Id=@item.Id and Name=@item.Name');" />

                    </td>
                </tr>
            }
        }

    </table>
</div>
